<div class="list-group">
  <a href="/dashboard" class="list-group-item list-group-item-action <%if (active_dashboard == true) {%>  active  <%}%>">Dashboard</a>
  <a href="/editprofile" class="list-group-item list-group-item-action <%if (active_editprofile == true) {%>  active  <%}%>">Edit My Profile</a>
  <a href="/changepwd" class="list-group-item list-group-item-action <%if (active_changepwd == true) {%>  active  <%}%>">Change Password</a>
  <a href="/logout" class="list-group-item list-group-item-action">Log Out</a>
</div>