<% include partials/header %>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">Home</li>
    <li class="breadcrumb-item active" aria-current="page">Change Password</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-3">
      <% include partials/sidemenu %>
    </div>
    <div class="col-md-9">
      <h1><%= title %></h1>
      <%= info %>
      <form role="form" method="POST" action="/changepwd" class="needs-validation-changepwd" novalidate>
        <div class="form-group row">
          <label for="oldpassword" class="col-sm-3 col-form-label">Old Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="oldpassword" name="oldpassword" required placeholder="Insert your old password ...">
            <div class="invalid-feedback">
              Please provide an old password.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="password1" class="col-sm-3 col-form-label">Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="password1" name="password1" required placeholder="Insert your password ...">
            <div class="invalid-feedback">
              Please provide a password.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="password2" class="col-sm-3 col-form-label">Confirm Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="password2" name="password2" required placeholder="Confirm your password ...">
            <div class="invalid-feedback">
              Please provide a password confirmation.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="submit" class="col-sm-3 col-form-label"></label>
          <div class="col-sm-9">
            <button type="submit" class="btn btn-success">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<% include partials/footer %>