<% include partials/header %>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">Home</li>
      <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-3">
      <% include partials/sidemenu %>
    </div>
    <div class="col-md-9">
      <h1><%= title %></h1>
      <p>User List:</p>
      <table class="table table-striped table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone #</th>
          </tr>
        </thead>
        <tbody>
          <% if (data) { data.forEach(function(item, index){ %>
          <tr>
            <th scope="row"><%= index+1 %></th>
            <td><%= item.name %></td>
            <td><%= item.email %></td>
            <td><%= item.phone %></td>
          </tr>
          <% }); } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% include partials/footer %>