<% include partials/header %>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">Home</li>
    <li class="breadcrumb-item active" aria-current="page">Edit My Profile</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-3">
      <% include partials/sidemenu %>
    </div>
    <div class="col-md-9">
      <h1><%= title %></h1>
      <%= info %>
      <form role="form" method="POST" action="/editprofile" class="needs-validation-editprofile" novalidate>
        <div class="form-group row">
          <label for="name" class="col-sm-3 col-form-label">Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="name" name="name" required placeholder="Insert your full name ..." value="<%= item.name %>">
            <div class="invalid-feedback">
              Please provide a name.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-9">
            <p class="form-text">
              <%= item.email %>
            </p>
          </div>
        </div>
        <div class="form-group row">
          <label for="phone" class="col-sm-3 col-form-label">Phone Number</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="phone" id="phone" required placeholder="Insert your phone number ..." value="<%= item.phone %>">
            <div class="invalid-feedback">
              Please provide a phone number.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="submit" class="col-sm-3 col-form-label"></label>
          <div class="col-sm-9">
            <button type="submit" class="btn btn-success">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<% include partials/footer %>