<% include partials/header %>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-xl-3"></div>
    <div class="col-md-6 col-xl-6">
      <h1>Login</h1>
      <div class="card">
        <div class="card-body">
        <%= err %>
          <form role="form" method="POST" action="/">
            <div class="form-group">
              <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
              <%# <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> %>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6 small">Don't have account? <br><a href="/register">Register here.</a></div>
              <div class="col-sm-6 col-md-6 text-right"><button type="submit" class="btn btn-success">Login</button></div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xl-3"></div>
  </div>
</div>
<% include partials/footer %>