<% include partials/header %>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Login</a></li>
      <li class="breadcrumb-item active" aria-current="page">Registration</li>
    </ol>
  </nav>
  <h1><%= title %></h1>
  <%= info %>
  <form role="form" method="POST" action="/register" class="needs-validation-register" novalidate>
    <div class="form-group row">
      <label for="name" class="col-sm-3 col-form-label">Name</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="name" name="name" required placeholder="Insert your full name ...">
        <div class="invalid-feedback">
          Please provide a name.
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="email" class="col-sm-3 col-form-label">Email</label>
      <div class="col-sm-9">
        <input type="email" class="form-control" id="email" name="email" required placeholder="your@email.com">
        <div class="invalid-feedback">
          Please provide a valid email address.
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="password1" class="col-sm-3 col-form-label">Password</label>
      <div class="col-sm-9">
        <input type="password" class="form-control" id="password1" name="password1" required placeholder="Insert your password ...">
        <div class="invalid-feedback">
          Please provide a password.
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="password2" class="col-sm-3 col-form-label">Confirm Password</label>
      <div class="col-sm-9">
        <input type="password" class="form-control" id="password2" name="password2" required placeholder="Confirm your password ...">
        <div class="invalid-feedback">
          Please provide a password confirmation.
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="phone" class="col-sm-3 col-form-label">Phone Number</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="phone" id="phone" required placeholder="Insert your phone number ...">
        <div class="invalid-feedback">
          Please provide a phone number.
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="submit" class="col-sm-3 col-form-label"></label>
      <div class="col-sm-9">
        <button type="submit" class="btn btn-success">Register</button>
      </div>
    </div>
  </form>
</div>
<% include partials/footer %>